<div class="row">
    <div id="validation_error">
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Games</h3>
            </div>
            <div class="panel-body">
                <ul id="games"  class="list-group">
                    wait...
                </ul>
                <a href="/" class="btn btn-lg btn-default btn-block" id="to_new_game">Create</a>
            </div>
        </div>
    </div>
    <div id="chatArea" class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chat</h3>
            </div>
            <div class="panel-body">
                <ul id="chat_messages" class="list-group">
                    wait...
                </ul>
                <form id="chat-form">
                    <input id='message_text' name='text' class="form-control" type="text" />
                    <input name='game' type="hidden" value="" />
                    <a href="/" class="btn btn-lg btn-default btn-block" id="send_message">send</a>
                </form>
            </div>
        </div>
    </div>
</div>