<div class="row">
    <div class="col-lg-2">
        <ul id="games">
            wait...
        </ul>
        <a href="/" class="btn btn-lg btn-primary btn-block" id="to_new_game">Create</a>
    </div>
    <div id="chatArea" class="col-lg-10">
        <ul id="chat_messages">
            wait...
        </ul>
        <form id="chat-form">
            <input id='message_text' name='text' type="text" />
            <input name='game' type="hidden" value="" />
            <a href="/" class="btn btn-lg btn-primary btn-block" id="send_message">send</a>
        </form>
    </div>
</div>