<form id="form-signin" class="form-signin">
    <h2 class="form-signin-heading">Please <%=AppState.state%>
        <% if (AppState.state != "signup") { %>
        <p><small class="registration">or <a href="/" id="to_signup">register</a></small></p>
        <% } %>
    </h2>
    <div id="validation_error">
    </div>
    <input name="login" class="form-control" type="text" class="input-block-level" placeholder="Name" required autofocus>
    <input name="password" class="form-control" type="password" class="input-block-level" placeholder="Password" required>
    <a href="/" class="btn btn-lg btn-primary btn-block" id="<%=AppState.state%>"><%=AppState.state%></a>

</form>