<div class="well">
    <div id="validation_error">
    </div>
    <form class="bs-example form-horizontal" id="map-form">
        <fieldset>
            <legend>Создание карты</legend>
            <div class="form-group" >
                <label for="inputName" class="col-lg-2 control-label">Название</label>
                <div class="col-lg-10">
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Название">
                </div>
            </div>

            <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Карта</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" name="map" id="textArea">$...........................................................................1.
..............................................................................
####................................................................#########.
####.......................................................2........#########.
.......####................................................######.............
.......####................................................######........1....
..............#####...................................................#####...
..............#######..............................................4..#####...
................#####.......M.................................................
.......................########......######...................................
.......................##########..########...................................
.......................##.###..##########.....................2....3..........
.......................##.##....#####..####...............########............
........................................###.......A.......###########.........
.............................................#########........#######.........
.............................................#########........................
..............................................#######.............3......####.
...............................................#####.............######..####.
4.........R...................P.....h............................######.......</textarea>
                    <span class="help-block">. - пустота, $ - точка спавна, # - стена, h - сердечко,
                        0-9 - телепорты(только парами, одинаковые цифры обозначают входы и выходы одного телепорта), K - нож, P - пистолет, M - пулемет, R - рокетница, A - лазер </span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputMaxPlayers" class="col-lg-2 control-label">Макс. игроков</label>
                <div class="col-lg-10">
                    <input type="number" name="maxPlayers" class="form-control" id="inputMaxPlayers" placeholder="Макс. игроков">
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="/" class="btn btn-primary" id="upload_map">Загрузить</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
