<div class="row">
    <div class="col-lg-12">
        <form id="map-form">
            <div id="validation_error">
            </div>
            <label for="name">Name: </label><input id="name" name='name' type="text" />
            <label for="map">Map: </label>
            <textarea id="map" name="map"></textarea>
            <label for="max_players">Max players: </label><input id="max_players" name='maxPlayers' type="number" />
            <a href="/" class="btn btn-lg btn-primary btn-block" id="upload_map">Upload</a>
        </form>
    </div>
</div>