<div class="row">
    <div id="validation_error">
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Game: <%=Game.name%></h3>
            </div>
            <div id="canvas_wrapper">
                <canvas id="main_canvas"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Chat</h3>
            </div>
            <div class="panel-body">
                <ul id="chat_messages" class="list-group">
                    wait...
                </ul>
                <form id="chat-form">
                    <input id='message_text' name='text' class="form-control" type="text" />
                    <input name='game' type="hidden" value="<%=Game.id%>" />
                    <input type="submit" class="btn btn-lg btn-default btn-block" value="send" id="send_message">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        draw_map(<%=Game.mapData%>);
        start_websocket("<%=AppState.sid%>", "<%=AppState.username%>");

        var onbuttondown = function(e) {
            var key = e.type == "keydown" ? e.keyCode : KEY_MOUSE,
                offset = $(this).offset();
            var x = key == KEY_MOUSE ? e.clientX - offset.left : 0,
                y = key == KEY_MOUSE ? e.clientY - offset.top : 0;
            if (!(key in pressed_keys))
                return true;
            pressed_keys[key] = true;

            if (!pressed)
                key_hold("<%=AppState.sid%>", x, y);
            return false;
        };
        var onbuttonup = function(e) {
            var key = e.type == "keyup" ? e.keyCode : KEY_MOUSE;
            if (!(key in pressed_keys))
                return;
            pressed = pressed_keys[key] = false;
            for (i in pressed_keys)
                pressed = pressed || pressed_keys[i];
        };

        var change_by_scroll = function ()
        {
            mouse_x += $("#canvas_wrapper").scrollLeft() - wrapper_scroll_x
            mouse_y += $("#canvas_wrapper").scrollTop() - wrapper_scroll_y

            wrapper_scroll_x = $("#canvas_wrapper").scrollLeft();
            wrapper_scroll_y = $("#canvas_wrapper").scrollTop();
        };

        var change_mouse_coords = function (e)
        {
            var offset = $(this).offset();
            mouse_x = e.pageX - offset.left,
            mouse_y = e.pageY - offset.top;
        };

        $(document).keydown(onbuttondown)
        $(document).keyup(onbuttonup)
        $("#canvas_wrapper").scroll(change_by_scroll);
        $('#main_canvas').mousemove(change_mouse_coords);
        $('#main_canvas').mousedown(onbuttondown);

        $(document).mouseup(onbuttonup);
        window.onbeforeunload = function() {
            if (web_socket)
                web_socket.close();
        }
    })
</script>
