#main_canvas {
    float: left;
}

#control_panel {
    float: left;
}

#control_panel button {
    width: 60px;
}

#connect_buttons {
    margin: 10px 0 10px 0;
}

#connect_params {
    widht: 100%;
}

#init_map {
    width: 300px;
    height: 60px;
}
